<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>文件共享</title>
</head>
<body bgcolor="#a9a9a9">
<form th:action='@{/upload}' method='post' enctype='multipart/form-data'>
    <input type='file' name='files' id="fileInput" multiple>
    <div>
        <span th:text="'单文件上传限制最大为'+${maxFileSize}+'MB'"></span>
        <span th:text="'一次上传限制最大为'+${maxRequestSize}+'MB'"></span>
    </div>
    <div id="content"></div>
    <button type='submit' id="sub" >上传</button>
</form>
<div th:if="${not #strings.isEmpty(time)}" th:text="'本次上传共耗时'+${time}+'s'">&nbsp;</div>
<hr>
<div id="fileInfo">
    <div th:text="'当前有'+${fileNum}+'个文件，文件所在目录： '+${filePath}"></div>
    <div th:text="'最大可用空间'+${maxSpace}+'MB'"></div>
    <div th:text="'已使用空间'+${usedSpace}+'MB'"></div>
    <div id="remainSpace" th:text="'剩余可用空间'+${remainSpace}+'MB'"></div>
    <div>
        <span>空间使用率</span>
        <div style="display: inline-grid">
            <div style="width:100px; height:20px;margin:3px 10px 0 10px;border-style:solid;border-width:1px;">
                <div th:style="'background-color:'+ (${spaceUsageRate}<60 ? 'greenyellow':(${spaceUsageRate}>90 ? 'red':'yellow'))
            +';height:20px;width:'+${spaceUsageRate} +'%'">[[${spaceUsageRate}+'%']]
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <a href="#" th:href="@{/export}">导出文件列表</a>&nbsp;
        <a href="#" th:href="@{/delAll}">删除所有文件</a>&nbsp;
        <a href="#" th:href="@{/downloadAll}">下载所有文件</a>&nbsp;
    </div>
    <hr>
    <table border="0">
        <tr>
            <th>fileName</th>
            <th>fileSize</th>
            <th>uploadTime</th>
            <th>delete</th>
            <th>download</th>
        </tr>
        <tr th:each="f: ${files}">
            <td><a href="/" th:href="@{/download(fileName=${f.getFileName()})}">[[${f.getFileName()}]]</a></td>
            <td><span th:text="${f.getSize()}+'MB'"></span></td>
            <td><span th:text="${f.getTime()}"></span></td>
            <td><a href="/" th:href="@{/delete(fileName=${f.getFileName()})}">删除</a></td>
            <td><a href="/" th:href="@{/download(fileName=${f.getFileName()})}">下载</a></td>
        </tr>
    </table>
</div>
</body>

<script>
    let data = [];
    let canSubmit = true;
    let fileInput = document.getElementById('fileInput');
    fileInput.addEventListener('change', function () {
        let fs = this.files;
        let len = fs.length;
        console.log(fs);
        console.log("长度是：" + len);
        let names = data.map(a => a.name);
        data = [];
        for (let i = 0; i < fs.length; i++) {
            data.push(fs[i]);
        }
        //展示列表
        document.getElementById('content').innerHTML = buildLi(data);
        console.log(canSubmit);
        let sub = document.getElementById('sub');
        if (!canSubmit) {
            sub.innerHTML = "不可上传";
            sub.setAttribute("disabled", "true111");
        }else{
            sub.innerHTML = "上传";
            sub.removeAttribute("disabled");
        }
        canSubmit = true;
    }, false);


    function test1(fs) {
        fs.app = "test";
        console.log(fs);
    }

    function buildLi(data) {
        let str = '';
        let totalFileSize = 0;
        //计算剩余空间是否充足，进行提示
        let maxFileSize = [[${maxFileSize}]];
        for (let f of data) {
            let fileSize = (f.size / 1024 / 1024);
            if (maxFileSize > fileSize) {
                str += '<li style="color: green">名称：' + f.name + '----大小:' + fileSize.toFixed(2) + 'MB</li>';
            } else {
                //单个文件超过限制
                canSubmit = false;
                str += '<li style="color: darkred">名称：' + f.name + '----大小:' + fileSize.toFixed(2) + 'MB, 超过最大单个文件上传限制，将会上传失败！</li>';
            }

            totalFileSize += fileSize;
        }
        str = '<li>待上传文件总大小：' + totalFileSize.toFixed(2) + 'MB</li>' + str;
        //计算剩余空间是否充足，进行提示
        let remainSpace = [[${remainSpace}]];

        if (remainSpace < totalFileSize) {
            let number = (totalFileSize - remainSpace);
            canSubmit = false;
            str = '<li style="color: darkred;font-size: 20px">警告:待上传文件总大小超过剩余可用空间，可能会有部分文件上传失败!缺少' + number.toFixed(2) + "MB空间</li>" + str;
        }
        //计算单此请求空间是否小于配置要求
        let maxRequestSize = [[${maxRequestSize}]];
        if (maxRequestSize < totalFileSize) {
            let number = (totalFileSize - maxRequestSize);
            canSubmit = false;
            str = '<li style="color: darkred;font-size: 20px">警告:待上传文件总大小超过单次最大上传数，超过' + number.toFixed(2) + "MB空间</li>" + str;
        }
        return str;
    }

</script>
</html>
