<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>文件上传和下载</title>
</head>
<body>
<form action='http://localhost:8080/upload' method='post' enctype='multipart/form-data'>
    <input type='file' name='files' multiple>
    <button type='submit'>上传</button>
</form>
<hr>
<div id="fileInfo">
    <p th:text="'已有'+${fileNum}+'个文件'"></p>
    <p th:text="'已用空间'+${usedSpace}+'MB'"></p>
    <p th:text="'可用空间'+${remainSpace}+'MB'"></p>
    <p th:text="'空间使用率'+${spaceUsageRate}+'%'"></p>
    <div th:each="f: ${files}">
        <a href="/" th:href="@{/download(fileName=${f.getFileName()})}">[[${f.getFileName()}]]</a>
        <span th:text="${f.getSize()}+'MB'"></span>
        <span th:text="${f.getTime()}"></span>
        <a href="" th:href="@{/delete(fileName=${f.getFileName()})}">删除</a>
    </div>
</div>
</body>
</html>